{% extends 'base.html' %}

{% load static %}

{% block title %}Lista de contatos{% endblock %}
{% block content %}<a href="{% url 'criar' %}">Criar contato</a>
<ul>
    {% for contato in contatos %}
    <li>
        Nome: {{ contato.nome }}<br>
        Email: {{ contato.email }}<br>
        Endereço: {{ contato.endereco }}<br>
        Telefone: {{ contato.telefone }}<br>
        <a href="{% url 'editar' pk=contato.id %}">Editar</a>
        <a href="{% url 'deletar' pk=contato.id %}">Deletar</a>
    </li>

    <br>
    {% endfor %}

</ul>
{% endblock %}
